html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1060px;
  }
}

.background-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
  min-height: inherit;
  @media (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1120px) {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

.isHiden {
  display: none;
}
