.moreInfo {
  display: none;
  margin: 0 auto;
  font-family: $main-font;
  background-color: $color-of-main-card;
  border-radius: 0px 0px 35px 35px;
  opacity: 0.8;
  box-shadow: 0 8px 43px 0 $color-of-main-card;
  @media screen and (min-width: 320px) {
    width: 280px;
    height: 290px;
    padding: 15px;
  }
  @media screen and (min-width: 768px) {
    width: 608px;
    height: 307px;
    padding: 15px 44px 0 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 1060px;
    height: 272px;
    padding: 15px 80px 40px 80px;
  }
}

.moreInfo__block {
  display: flex;
  @media screen and (min-width: 320px) {
    width: 250px;
    height: 240px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 3px;
      bottom: $focus-color;
      background-color: #ffffff8a;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $focus-color;
    }
  }
  @media screen and (min-width: 768px) {
    width: 520px;
    height: 260px;
  }
  @media screen and (min-width: 1280px) {
    width: 900px;
    height: 220px;
    overflow: hidden;
  }
  :last-child {
    margin-right: 0;
  }
}

.timeWeather {
  margin-right: 10px;
  min-width: 120px;
  height: 220px;
  font-size: 14px;
  text-align: center;
  color: #ffffff8a;
  border: 1px solid #ffffff8a;
  border-radius: 25px;
  &__data {
    text-align: left;
    list-style: none;
    padding-left: 18px;
  }
  &__time {
    font-size: 12px;
    line-height: 1.833;
    margin-top: 15px;
  }
  &__temp {
    font-size: 18px;
    color: $focus-color;
    line-height: 1.222;
    margin: 15px 0;
    &::before {
      content: url('./img/icons/cloud.png');
      display: block;
      width: auto;
      height: auto;
      padding-bottom: 10px;
    }
  }
  &__pressure {
    margin-bottom: 5px;
    &::before {
      content: url('./img/icons/pressure.png');
      width: auto;
      height: auto;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
  &__humidity {
    margin-bottom: 5px;
    &::before {
      content: url('./img/icons/humidity.png');
      width: auto;
      height: auto;
      padding-right: 16px;
      padding-left: 7px;
      vertical-align: middle;
    }
  }
  &__wind {
    &::before {
      content: url('./img/icons/wind.png');
      width: auto;
      height: auto;
      padding-right: 10px;
      vertical-align: middle;
    }
  }
}
