.five-days-containeer {
    border-radius: 35px;
    background-color: rgba(16, 33, 54, 0.8);
    box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.59);
    width: 280px;
    height: 270px;
    padding-top: 30px;
  
    &__city-name {
      font-size: 18px;
      font-family: 'Lato';
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-align: center;
      margin: 0px auto 14px;
    }
  
    &__item {
      list-style: none;
      width: 62px;
      height: 145px;
    }
  
    &__scroll {
      display: flex;
      justify-content: space-between;
      height: 10px;
      width: 58px;
      margin: 0 auto;
    }
  
    &__arrow {
      width: 6px;
      height: 10px;
      display: inline-block;
      opacity: 0.541;
      cursor: pointer;
  
      &--hover:hover {
        opacity: 1;
      }
    }
  }
  
  .days-list {
    display: flex;
    justify-content: space-between;
    height: 145px;
    padding: 0 30px;
    margin-bottom: 18px;
    list-style: none;
  
    &__day-of-the-week {
      font-size: 12px;
      font-family: 'Lato';
      color: rgba(255, 255, 255, 0.541);
      text-align: center;
      margin-bottom: 12px;
    }
  
    &__day-of-the-week--active {
      color: rgb(255, 107, 8);
    }
  
    &__date {
      font-size: 16px;
      font-family: 'Lato';
      color: #ffffff;
      text-align: center;
      margin-bottom: 10px;
    }
  
    &__img {
      width: 42px;
      height: 22px;
      margin: 0 auto 15px;
    }
  
    &__temperature-block {
      display: flex;
      justify-content: space-between;
      width: 62px;
      margin-bottom: 10px;
    }
  
    &__min-max {
      width:26px;
    }
  
    &__title {
      font-size: 12px;
      font-family: 'Lato';
      color: rgba(255, 255, 255, 0.541);
      line-height: 0.8;
      vertical-align: top;
      margin-bottom: 5px;
    }
  
    &__value {
      font-size: 16px;
      font-family: 'Lato';
      color: rgb(255, 107, 8);
      font-weight: bold;
      line-height: 0.75;
      text-align: justify;
      vertical-align: top;
      margin: 0;
      padding: 0;
  
      &--degrees::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        background: url('./img/icons/elips.png');
        vertical-align: top;
      }
    }
  
    &__line {
      margin: 0 3px;
  
      &--tablet_desktop {
        display: none;
      }
    }
  
    &__more-btn {
      display: block;
      font-size: 12px;
      font-family: 'Lato';
      color: rgba(255, 255, 255, 0.302);
      text-decoration: underline;
      text-align: center;
      border: none;
      background-image: none;
      background: transparent;
      background-color: transparent;
      margin: 0 auto;
      padding: 0;
      outline: none;
      cursor: pointer;
  
      &:active,
      &:hover,
      &:focus {
        color: #ffffff;
      }
    }
  }
  
  // TABLET
  
  @media (min-width: 768px) and (max-width: 1279px) {
    .five-days-containeer {
      width: 610px;
      height: 260px;
      padding-top: 45px;
  
      &__city-name {
        display: none;
      }
  
      &__scroll {
        display: none;
      }
    }
  
    .days-list {
      height: 170px;
      padding: 0 36px;
  
      &__day-of-the-week {
        font-size: 14px;
        margin-bottom: 10px;
      }
  
      &__date {
        font-size: 18px;
      }
  
      &__temperature-block {
        width: 75px;
        margin-bottom: 20px;
      }
  
      &__min-max {
        width:30px;
      }
  
      &__title {
        font-size: 14px;
        margin-bottom: 10px;
      }
  
      &__value {
        font-size: 18px;
      }
  
      &__line {
        margin: 0 10px;
  
        &--tablet_desktop {
          display: block;
        }
  
        &--mobile {
          display: none;
        }
      }
  
      &__more-btn {
        font-size: 14px;
      }
    }
  }
  
  // DESKTOP
  
  @media (min-width: 1280px) {
    .five-days-containeer {
      width: 1060px;
      height: 300px;
      padding-top: 40px;
  
      &__city-name {
        display: none;
      }
  
      &__scroll {
        display: none;
      }
    }
  
    .days-list {
      height: 230px;
      padding: 0 100px;
  
      &__day-of-the-week {
        font-size: 18px;
        margin-bottom: 17px;
      }
  
      &__date {
        font-size: 25px;
        margin-bottom: 34px;
      }
  
      &__img {
        margin: 0 auto 35px;
      }
  
      &__temperature-block {
        width: 103px;
        margin-bottom: 18px;
      }
  
      &__min-max {
        width:35px;
      }
  
      &__title {
        font-size: 18px;
        margin-bottom: 15px;
      }
  
      &__value {
        font-size: 25px;
      }
      &__line {
        margin: 0 15px;
  
        &--tablet_desktop {
          display: block;
        }
  
        &--mobile {
          display: none;
        }
      }
    }
  }
  