.content-box {
    margin-bottom: 30px;
    text-align: center;
    width: 280px;
    @media screen and (min-width: 768px) and(max-width: 1279px) {
      width: 480px;
      margin-bottom: 48px;
    }
    @media screen and (min-width: 1280px) {
      width: 490px;
      margin-bottom: 30px;
    }
  }
  
  .temperature-box {
    margin-bottom: 30px;
    padding: 38px 60px;
    border-radius: 35px;
    background-color: rgba(16, 33, 54, 0.59);
    color: rgb(88, 100, 115);
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 38px 186px;
      margin-bottom: 48px;
    }
    @media screen and (min-width: 1280px) {
      padding: 38px 190px;
      margin-bottom: 30px;
    }
  }
  
  .temperature-box:hover {
    transition: 200ms linear;
    background-color: rgb(16, 33, 54);
  }
  
  .temperature-img {
    margin: 0 auto;
  }
  
  .temperature-header {
    padding: 16px 0;
    text-transform: capitalize;
    font-size: 16px;
    @media screen and (min-width: 768px) {
      padding: 8px 0;
      font-size: 18px;
    }
  }
  
  .degree-box,
  .degree-list,
  .btn-list {
    display: flex;
    justify-content: space-between;
  }
  
  .degree-box {
    @media screen and (min-width: 768px) {
      flex-direction: column;
    }
  }
  .degree-title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    @media screen and (min-width: 768px) {
      font-size: 90px;
    }
  }
  
  .degree-list,
  .btn-list {
    list-style: none;
  }
  
  .degree-list {
    text-align: justify;
    width: 50%;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
  }
  
  .degree-item {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      align-items: start;
    }
  }
  .degree-first-subtitle {
    color: rgb(88, 100, 115);
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  .degree-second-subtitle {
    font-size: 18px;
  }
  .degree-item--line {
    border-right: 1px solid rgb(88, 100, 115);
    padding-right: 11px;
    @media screen and (min-width: 768px) {
      padding-right: 26px;
    }
  }
  
  .btn-list {
    padding: 0px 4px;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  
  .btn {
    padding: 6px 38px;
    font-size: 14px;
    border-radius: 14px;
    background-color: rgba(247, 247, 247, 0.59);
    text-transform: uppercase;
    border: none;
    outline: none;
  }
  .btn-today {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-right: 24px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-right: 16px;
    }
  }
  
  .btn:hover {
    transition: 200ms linear;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
  }
  