.quote {
  text-align: -webkit-right;
  font-family: $main-font;
  color: $main-white-color;
  padding: 0 20px;
  
  &__text {
    width: 205px;
    margin-bottom: 14px;
    font-style: italic;
  }
  &__author {
    font-size: 18px;
    font-style: regular;
  }
}

@media (min-width: 768px) {
  .quote {
    
    padding-right: 140px;

    &__text {
      width: 375px;
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1120px) {
  .quote {
    margin-right: 5%;
    margin-top: 5%;
    &__text {
      font-size: 22px;
    }
  }
}
