.part1 {
  display: flex;
  justify-content: center;
}

.search-location {
  margin-bottom: 50px;
  width: 280px;

  &__form {
    background-color: $main-white-color;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $main-white-color;
    margin-bottom: 14px;

    &::before {
      content: '';
      display: inline-block;
      background: url(img/icon-location.svg) no-repeat center;
      opacity: 0.3;
      background-size: contain;
      width: 22px;
      height: 22px;
      margin-right: 12px;
    }

    input {
      border: none;
      color: $main-black-color;
      font-size: 14px;
      font-weight: 400;
      width: 75%;
      outline: none;
      font-family: $main-font;

      &::placeholder {
        color: #00000062;
        font-size: 14px;
      }
    }

    &-btn {
      background-color: $main-white-color;
      background-image: url(img/star-regular.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 19px 21px;
      border: none;
      width: 30px;
      height: 30px;
      outline: none;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-btnPrev,
    &-btnNext {
      width: 27px;
      height: 27px;
      background-color: rgba(241, 241, 241, 0.397);
      border-radius: 50%;
      border: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px 10px;
      cursor: pointer;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      width: 178px;
    }
    &-list svg {
      display: block;
      height: 100%;
      width: 12px;
      fill: $main-white-color;
    }

    &-list-item {
      border-radius: 12px;
      background-color: rgb(16, 33, 54);
      opacity: 0.471;
      padding: 5px 5px 5px 10px;
      transition: opacity 200ms linear;
    }
    &-list-item:hover,
    &-list-item:focus {
      opacity: 1;
    }

    &-list-content {
      display: flex;
      color: $main-white-color;
      font-size: 12px;
    }

    &-list-sity {
      margin-right: 12px;
      cursor: pointer;
    }

    &-list-sity::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $main-white-color;
      margin-bottom: 1px;
    }

    &-list-content-renove-city-button {
      background-color: transparent;
      border: none;
      color: $main-white-color;
      cursor: pointer;
      height: 16px;
    }
  }
}

@media (min-width: 768px) {
  .search-location {
    width: 504px;

    input {
      font-size: 18px;
      width: 85%;

      &::placeholder {
        font-size: 18px;
      }
    }

    .search-location__slider-list {
      // width: 375px;
    }
  }
}
