.part1 {
  display: flex;
  justify-content: center;
}

.search-location {
  margin-bottom: 50px;
  width: 280px;

  &__form {
    background-color: $main-white-color;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid $main-white-color;
    margin-bottom: 14px;

    &::before {
      content: '';
      display: inline-block;
      background: url(img/icon-location.svg) no-repeat center;
      opacity: 0.3;
      background-size: contain;
      width: 22px;
      height: 22px;
      margin-right: 12px;
    }

    input {
      border: none;
      color: $main-black-color;
      font-size: 14px;
      font-weight: 400;
      width: 75%;
      outline: none;
      font-family: $main-font;

      &::placeholder {
        color: #00000062;
        font-size: 14px;
      }
    }

    &-btn {
      fill: #000000;
      opacity: 0.471;
      border: none;
      width: 20px;
      height: 20px;
      outline: none;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
      transition: fill 200ms linear;
    }

    &-btn-focus {
      fill: $focus-color;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-btnPrev,
    &-btnNext {
      opacity: 0.471;
      width: 28px;
      height: 28px;
      background-color: #ffffff;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: opacity 200ms linear;
      outline: none;

      &:hover,
      &:hover svg {
        opacity: 1;
      }

      & svg {
        fill: #000000;
        transition: opacity 200ms linear;
        width: 80%;
        height: 80%;
      }
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      width: 178px;
    }

    &-list svg {
      display: block;
      height: 100%;
      width: 12px;
      fill: $main-white-color;
    }

    &-list-item {
      border-radius: 12px;
      background-color: rgb(16, 33, 54);
      opacity: 0.471;
      padding: 5px 5px 5px 10px;
      transition: opacity 200ms linear;
    }
    &-list-item:hover,
    &-list-item:focus {
      opacity: 1;
    }

    &-list-content {
      display: flex;
      color: $main-white-color;
      font-size: 12px;
    }

    &-list-sity {
      margin-right: 12px;
      cursor: pointer;
      font-family: $main-font;
      font-weight: 400;
      font-size: 12px;
    }

    &-list-sity::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $main-white-color;
      margin-bottom: 1px;
    }

    &-list-content-renove-city-button {
      background-color: transparent;
      border: none;
      color: $main-white-color;
      cursor: pointer;
      height: 16px;
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .search-location {
    width: 504px;

    input {
      font-size: 18px;
      width: 85%;

      &::placeholder {
        font-size: 18px;
      }
    }

    .search-location__slider-list {
      width: 380px;
      justify-content: space-evenly;
    }
  }
}
