// сюда импортим все scss файлы

@import './sass/normalize.scss';
@import './sass/base.scss';

/* Components */
@import './sass/part2.scss';
@import './sass/components/container.scss';
@import './sass/components/search.scss';
@import './sass/part5.scss';